/*

See also https://github.com/yzane/vscode-markdown-pdf/blob/master/styles/markdown.css

https://github.com/yzane/vscode-markdown-pdf/tree/master

*/


:root {
	font: 100% verdana, arial, sans-serif;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.3em;
}

h1,
h2,
h3,
h4 {
	color: #880000;
	margin: 0;
	padding: 0;
}

hr {
	display: none;
}

p {
	color: #000;
	font-size: 14pt;
	margin: 0 0 0.5rem 0;
	/* padding: 0; */
}


ul {
	margin-top: 0;
	padding-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}

li {
	font-size: 14pt;
	margin-top: 0em;
	padding-top: 0em;
	margin-bottom: 0;
	padding-bottom: 0;
}

mark {
	background-color: #ff0;
}

ul {
	margin: 0 0 0.5rem 0;
	padding-top: -1em;
}

a {
	color: #cc0000;
	text-decoration: underline;
}

a:hover {
	color: #ff0000;
}

em {
	font-style: italic;
}

img {
	max-width: 100%;
}

title {
	text-decoration: none;
}
